.fondofin {
    background: url(imagenes/grulla\ 5.jpg);
    position: relative;
    z-index: -1;
}

/* Menú de navegación */
.menu-parche {
    background-color: rgb(178, 103, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    /* Utiliza unidades relativas */
}
/*formulario*/
.form-container {
    width: 33.33%;
    margin: 0 auto;
}
/* Contenedor de tarjetas usando CSS Grid */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1em;
    margin-bottom: 10px;
}

.btn {
    background-color: rgb(178, 103, 245);
    color: white;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

